# --- Interface Utilisateur & Framework Web ---
streamlit
streamlit-aggrid
streamlit-geolocation
customtkinter

# --- Cartographie & Géolocalisation ---
geopy
folium
shapely

# --- Traitement de Données & Calcul ---
pandas
numpy
matplotlib
plotly

# --- Base de Données & API ---
supabase
requests

# --- Acquisition Matérielle & GPS (NMEA / Série) ---
pyserial
pynmea2

# --- Reconnaissance Vocale & Synthèse Vocale ---
pyttsx3
SpeechRecognition

# --- Images & Génération de Documents ---
pillow
fpdf2
